/**
 * Generates all the CSS properties for the respective typography type
 * @param  {String} $text-type  A key from the $typography-variables map where the properties
 *                              and their values are going to be obtained.
 * @return {CssRules}           CSS properties for the given text type.
 */
@mixin generate-text-styles($text-type) {
  $typography-properties: map-get($typography-variables, $text-type);
  @each $property, $value in $typography-properties {
    #{$property}: $value;
  }
}

/**
 * Generates all responsive fonts between ms => lg devices
 * @param  {String} $font type to apply media queries
 * @return {CssRules}           CSS properties for the given text type.
 */
@mixin generate-body-font-sm($font) {
  @include generate-body-colors();
  @include generate-text-styles('body-sm-#{$font}');
  @include md {
    @include generate-text-styles('body-md-#{$font}');
  }
  @include lg {
    @include generate-text-styles('body-lg-#{$font}');
  }
}

/**
 * Generates all responsive fonts between md => lg devices
 * @param  {String} $font type to apply media queries
 * @return {CssRules}           CSS properties for the given text type.
 */
@mixin generate-body-font-md($font) {
  @include generate-body-colors();
  @include generate-text-styles('body-md-#{$font}');
  @include lg {
    @include generate-text-styles('body-lg-#{$font}');
  }
}

/**
 * Generates decorators for font color
 */
@mixin generate-body-colors {
  &--white {
    color: $white;
  }
  &--black {
    color: $black;
  }
  &--orange {
    color: $orange;
  }
}

/**
 * Generates decorators for font color
 */
@mixin generate-heading-colors {
  &--white {
    color: $white;
  }
  &--black {
    color: $black;
  }
}

/**
 * Generates decorators for font color
 */
@mixin generate-buttons-colors {
  &--white {
    color: $white;
  }
  &--black {
    color: $black;
  }
  &--orange {
    color: $orange;
  }
  &--black-30 {
    color: $black-30;
  }
  &--black-40 {
    color: $black-40;
  }
  &--orange-50 {
    color: $orange-50;
  }
  &--black-70 {
    color: $black-70;
  }
}

/**
 * Generates decorators for font color
 */
@mixin generate-buttons-underline-colors {
  &--black {
    color: $black;
  }
  &--black-30 {
    color: $black-30;
  }
  &--black-50 {
    color: $black-50;
  }
  &--orange {
    color: $orange;
  }
  &--orange-50 {
    color: $orange-50;
  }
}

/**
 * Generates decorators for font color
 */
@mixin generate-subtitles-colors {
  &--white {
    color: $white;
  }
  &--black {
    color: $black;
  }
  &--black-70 {
    color: $black-70;
  }
  &--black-30 {
    color: $black-30;
  }
}
