@import "src/styles/main_styles.scss";

.Button {
  &__button {
    cursor: pointer;
    outline: none;
    background-color: $primary-700;
    border-radius: 30px;
    border: 0;
    padding: 12px 16px;
    color: $white;
    text-decoration: none;
    &:hover {
      background: $primary-800;
      box-shadow: 0px 4px 12px rgba(115, 115, 124, 0.15);
    }
    &:active {
      background: $primary-900;
      box-shadow: 0px 4px 12px rgba(115, 115, 124, 0.15);
    }
  }

  &__disable {
    user-select: none;
    pointer-events: none;

    button {
      background-color: $base-300;
    }
  }
}

.SecondaryButton {
  &__button {
    cursor: pointer;
    outline: none;
    border-radius: 30px;
    padding: 12px 16px;
    border: solid $base-300 1px;
    background-color: $white;
    color: $primary-800;
    &:hover {
      background-color: $base-050;
    }
    &:active {
      background: $base-100;
      color: $base-600;
    }
  }

  &__disable {
    user-select: none;
    pointer-events: none;

    button {
      background-color: $white;
      color: $base-300;
      border: solid $base-300 1px;
    }
  }
}

.LinkButton {
  &__button {
    cursor: pointer;
    outline: none;
    background-color: $white;
    color: $primary-800;
    border: none;
    &:hover {
      text-decoration-line: underline;
      color: $primary-800;
    }
    &:active {
      color: $primary-900;
    }
  }

  &__disable {
    user-select: none;
    pointer-events: none;

    button {
      color: $base-300;
    }
  }
}

.Fab {
  &__button {
    cursor: pointer;
    outline: none;
    background-color: $white;
    color: $primary-500;
    border: none;
    box-shadow: 0px 4px 12px rgba(115, 115, 124, 0.15);
    border-radius: 50%;
    padding: 10px 4px;
    &:hover {
      color: $primary-500;
      box-shadow: 0px 8px 16px rgba(115, 115, 124, 0.2);
    }
    &:active {
      box-shadow: 0px 8px 16px rgba(115, 115, 124, 0.2);
      color: $primary-700;
    }
  }

  &__disable {
    user-select: none;
    pointer-events: none;

    button {
      color: $base-300;
    }
  }
}
