@import "src/styles/main_styles.scss";

.Button {
  &__button {
    cursor: pointer;
    outline: none;
    background-color: $support3-900;
    border-radius: 30px;
    border: 0;
    padding: 15px 24px;
    color: $white;
    text-decoration: none;
    &:hover {
      background: $support3-900;
      box-shadow: 0px 4px 8px 0px rgba(18, 54, 132, 0.16);
    }
    &:active {
      background: $support3-900;
      color: $support3-900;
    }
  }
  &__small {
    padding: 14px 16px;
  }
  &__medium {
    padding: 11px 24px;
  }

  &__disable {
    user-select: none;
    pointer-events: none;

    button {
      background-color: $base-900;
      color: $base-600;
    }
  }
}

.SecondaryButtonLight {
  &__button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border-radius: 30px;
    border: solid $black 2px;
    padding: 15px 40px;
    &:hover {
      background: $base-900;
      box-shadow: 0px 4px 8px 0px rgba(18, 54, 132, 0.16);
    }
    &:active {
      background: $base-900;
      color: $base-600;
      border: solid $base-900 2px;
    }
  }

  &__disable {
    user-select: none;
    pointer-events: none;

    button {
      background-color: transparent;
      color: $base-900;
      border: solid $base-600 2px;
    }
  }
}

.SecondaryButton {
  &__button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border-radius: 30px;
    border: solid $white 2px;
    padding: 15px 40px;
    color: $white;
    &:hover {
      background: $white;
      color: $base-900;
      box-shadow: 0px 4px 8px 0px rgba(18, 54, 132, 0.16);
    }
    &:active {
      background: $base-900;
      color: $base-600;
      border: solid $base-900 2px;
    }
  }

  &__disable {
    user-select: none;
    pointer-events: none;

    button {
      background-color: transparent;
      color: $base-900;
      border: solid $base-600 2px;
    }
  }
}
